html{
	height: 100%;
	font-family: Helvetica;
}
body {
	height:100%;
	overflow: hidden;
	background-color: grey;
}
#map_canvas {
	/*display: block;*/
	float: left;
	width: 66%;
	height: 100%;
	margin: 0px;
}

#post_btn {
	position: absolute;
	display: block;
	float: right;
	margin-left: 65%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;

	/*//line-height: 60px;*/
	font-weight: bold;
	/*padding: 0px 40px;*/
	width: 35%;
	height: 10%;
	background: salmon;
	border: none;
}

#signin {
	/*float: right;*/
	display: block;
	/*margin-right: 2%;*/
	margin-top: 0%;
	margin-bottom: 5%;
	margin-left: 88%;
	width: 10%;
	height: 10%;
	position: fixed;

}

#user {
	position: fixed;
	float: right;
}
#out {
	display: block;
	float: right;
	font-size: 24px;
	background-color: salmon;
	margin-right: 2%;
}
#user {
	display: block;
	margin-left: 66%;
	margin-top: 0%;
	font-size: 30px;
	width: 20%;
	font-weight: bold;
	background-color: white;
	color: grey;
	text-align: center;
}
#signout {
	display: block;
	float: right;
	/*margin-left: 70%;*/
	margin-right: 2%;
	margin-top: 0%;
	margin-bottom: 5%;

	/*//line-height: 60px;*/
	font-weight: bold;
	padding: 0.8% 2%;
	width: 10%;
	height: 15%;
	background: skyblue;
	text-align: center;
	border: none;

}

#events {
	display: block;
	position: absolute;
	float: right;
	margin-top: 15%;
	margin-left: 65.2%;
	margin-right: 0%;
	font-size: 24px;
	background: lightblue;
	/*border-style: solid;*/
	height: 60%;
	width: 34%;
	overflow-y: auto;
}

#sort {
	display: block;
	position: absolute;
	float: right;
	margin-top: 15%;
	margin-left: 65.2%;
	margin-right: 0%;
	font-size: 18px;
	background: lightblue;
	width: 10%;
}

#desktop {
	/*display: block;*/
	float: right;
	/*margin-left: 70%;*/
	position:absolute;
	bottom:0;
	margin-left: 5%;
	/*//line-height: 60px;*/
	font-weight: bold;
	color: white;
	padding: 0.8% 2%;
	width: 10%;
	height: auto;
	background: darkblue;
	text-align: center;
	border: none;
}
#mobile {
	float: right;
	/*margin-left: 70%;*/
	position:absolute;
	bottom:0;
	right:1%;
	/*//line-height: 60px;*/
	font-weight: bold;
	color: white;
	padding: 0.8% 2%;
	width: 15%;
	height: auto;
	background: darkblue;
	text-align: center;
	border: none;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
